[submodule "tests/fixtures/create-react-app-typescript-todo-example-2020"]
	path = tests/fixtures/create-react-app-typescript-todo-example-2020
	url = git@github.com:laststance/create-react-app-typescript-todo-example-2020.git
