[submodule "test/fixtures/react-typescript-todo"]
	path = test/fixtures/react-typescript-todo
	url = git@github.com:seachicken/react-typescript-todo.git
[submodule "test/fixtures/spring-boot-realworld-example-app"]
	path = test/fixtures/spring-boot-realworld-example-app
	url = git@github.com:seachicken/spring-boot-realworld-example-app.git
[submodule "test/fixtures/nestjs-realworld-example-app-prisma"]
	path = test/fixtures/nestjs-realworld-example-app-prisma
	url = git@github.com:seachicken/nestjs-realworld-example-app.git
[submodule "test/fixtures/spring-tutorials"]
	path = test/fixtures/spring-tutorials
	url = git@github.com:seachicken/tutorials.git
