name: Release

on:
  push:
    tags: [ 'v*' ]

jobs:
  create-release:

    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}

    steps:
    - uses: actions/checkout@v3

    - name: Create a new Release
      run: gh release create $GITHUB_REF_NAME --generate-notes

